body{
  margin-left: 20px;
  margin-top: 20px;
  font-size: 20px;
}
.serh{
  display: block;
  width: 210px;
  height: 100px;
  background-color:rgb(171, 194, 238);
  border: 1px solid rgb(129, 163, 227);
  font-size: 17px;
}
.gender{
  width: 220px;
  background-color:rgb(171, 194, 238);
  border: 1px solid rgb(129, 163, 227);
  font-size: 17px;

}
input{
  background-color: rgb(171, 194, 238);
  border: 1px solid rgb(129, 163, 227);
  font-size: 17px;
}
.but{
  background-color: rgb(129, 163, 227);
  border: 1px solid rgb(129, 163, 227);
  width: 100px;
  height: 30px;
  font-size: 20px;
}
.ha{
  display: flex;
  flex-direction: row;
  
}